<div id="sidebar">
	<%= render 'layouts/categories_sidebar' %>
</div>

<div id="main">
<h1>Search Results</h1>
	<p>Showing results for <b><%= @search_query %></b></p>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Manufacturer</th>
    <th>Category</th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.description %></td>
    <td><%= product.price %></td>
    <td><%= product.manufacturer.name %></td>
    <td><%= product.category.name %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

</div>

<div class="clear"></div>