<p id="notice"><%= notice %></p>

<h2>Perfil</h2>
<%= link_to 'Gerir a minha Conta', edit_user_path(@user) %>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Password:</b>
  <%= @user.password %>
</p>

<br />
<h2>Encomendas feitas</h2>
<p>
	<% order_total_price = 0 %>
	<% @user.orders.each do |order| %>
		<b>Order date:</b> <%= order.created_at %><br />
		<b>Order paid with:</b> <%= order.pay_type %><br />
		<br />
		<b>Products:</b><br />
		<% order.cart_items.each do |item| %>
			<% order_total_price += item.total_price %>
			<%= link_to(item.product.name, product_path(item.product)) %> &times; <%= item.quantity %> = <%= number_to_currency(item.total_price, :unit => "€") %><br />
		<% end %>
		<br /><b>Order total</b>: <%= number_to_currency(order_total_price, :unit => "€") %><hr>
	<% end %>
</p>



