<div id="sidebar">
	<%= render 'layouts/categories_sidebar' %>
</div>
<div id="main">
<p id="notice"><%= notice %></p>

<h2><%= @category.name %></h2>
<% @products.each do |product| %>
	<div>
		<h3><%= product.name %></h3>
		<div class="image">
			<%= image_tag product.photos.first.url %>
		</div>
		<p><%= product.description %></p>
	</div>
<% end %>

<%= will_paginate @products %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</div>
