<div id="sidebar">
	<%= render 'layouts/categories_sidebar' %>
</div>
<div id="main">
<p id="notice"><%= notice %></p>

<h2><%= @category.name %></h2>
<%= render :partial => "layouts/product", :collection => @products %>


<%= will_paginate @products %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
</div>
