# encoding: Cp1252
<div id="sidebar">
	<%= render 'layouts/categories_sidebar' %>
</div>
<p id="notice"><%= notice %></p>
<div id="main">
<h1>Featured Products</h1>

<table id="tableProducts">
  <tr>
  	<th class="productFirstColumn">Photo</th>
    <th class="product">Name</th>
    <th class="product">Description</th>
    <th class="product">Price</th>
    <th class="product">Manufacturer</th>
    <th class="product">Category</th>
  </tr>

<% @products.each do |product| %>
  <tr>
  	<td class="productFirstColumn"><%= link_to(image_tag(product.photos.first.url), product) %></td>
    <td class="product"><%= product.name %></td>
    <td class="product"><%= truncate(product.description, :length => 100, :separator => ' ') %></td>
    <td class="product"><%= number_to_currency(product.price, :unit => "€") %></td>
    <td class="product"><%= product.manufacturer.name %></td>
    <td class="product"><%= product.category.name %></td>
  </tr>
<% end %>
</table>

<br />
<div class="pagination"><%= will_paginate @products %></div>
<%= link_to 'New Product', new_product_path %>
</div>

<div class="clear"></div>