<div id="sidebar">

	<p id="productName">  <%= @product.name %> </p>
	
	<%= image_tag( @photos.first.url, class: "productImage")%>
	<% if (current_user != nil) %>
	    <p>
	        <%= button_to "Add to cart", cart_items_path(:product_id => @product) %>
	    </p>
    <% end %>


	<div id="manufacturer"> 
		<h3>Manufacturer</h3>
		<%= @product.manufacturer.name unless @product.manufacturer.nil? %>
	</div>
	
	<div id="manufacturerProducts"> 
		<h3>Other Products from this Manufacturer</h3>
		<% if @manufacturer_products %>
			<% @manufacturer_products.each do |product| %>
				<%= link_to(image_tag(product.photos.first.url, class: "manufacturerProductImage"), product) %>
			<% end %>
		<% end %>

	</div>
 </div>

<div id="main">

<p id="notice"><%= notice %></p>

<% if (current_user && current_user.admin?)%>
<%= link_to 'Actualizar Produto', edit_product_path(@product) %> |
<%= link_to 'Apagar Produto', @product, method: :delete, data: { confirm: 'Tem a certeza que quer apagar este produto?' } %>
<% end %>

	<h3>Description</h3> 
	<%= @product.description %>

	<h3>Price</h3>
	<%= number_to_currency(@product.price, :unit => "€") %>

	<h3>Category</h3>
	<%= @product.category.name unless  @product.category.nil? %>

<h3>Photos</h3>
<% @photos.each do |photo| %>
  	<div class="featuredProductImage">
		<%= image_tag(photo.url, class: "featuredProductImage") %>
		<%= photo.description %>
	</div>
<% end %>

<h3>Related Products</h3>
<div class="similarProducts">
	<% if @related_products.empty? %>
		<p>Não existem produtos relacionados para este produto<p>
	<% end %>
	<% @related_products.each do |product| %>
		<%= link_to(image_tag(product.photos.first.url, class: "featuredProductImage"), product) %>
		<%= product.photos.first.description %>
	<% end %>
</div>

<h3>Reviews</h3>
<div class="reviews">
	
	<% if @reviews.empty? %>
		<p>Ainda não existem reviews para este produto<p>
	<% end %>
	<% @reviews.each do |review| %>
		<div class="review">
			<i><%= distance_of_time_in_words_to_now review.created_at %> ago </i>
			<%= link_to('Apagar Review', review, method: :delete, data: { confirm: 'Tem a certeza que quer apagar esta Review?' }) if(current_user && current_user.admin?) %>
<br />
			User: <i><%= review.user.username unless review.user.nil? %></i><br />

			<p> <%= review.content %></p>
		</div>
	<% end %>	
	<%= will_paginate @reviews %>
	<% if current_user.nil? %>
		<p>Para escrever a sua review do produto faça login<p>
	<% else %>
        <%= form_for [@product, Review.new] do |f| %>     
        	<p>
	        		<%=	f.text_area :content, :rows => 10 %></br>
	        		<%= f.submit "Post" %>   	
        	</p>
       <% end %> 
   <% end %>  
</div>

<div class="clear">

</div>