<div id="sidebar">

	<p id="productName">  <%= @product.name %> </p>
	
	<%= image_tag( @photos.first.url, class: "productImage")%>
	
	<div id="manufacturer"> 
		<h3>Manufacturer</h3>
		<%= @product.manufacturer.name %>
	</div>
	
	<div id="manufacturerProducts"> 
		<h4>Other Products from this manufacturer</h4>
		<% @manufacturer_products.each do |product| %>
			<%= link_to(image_tag(product.photos.first.url, class: "manufacturerProductImage"), product) %>
		<% end %>
	</div>
 </div>

<div id="main">

<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Category</b>
  <%= @product.category.name %>
</p>

<h3>Photos</h3>
<% @photos.each do |photo| %>
  	<div class="featuredProductImage">
		<%= image_tag(photo.url, class: "featuredProductImage") %>
		<%= photo.description %>
	</div>
<% end %>

<h3>Related Products</h3>
<div class="similarProducts">
	<% @related_products.each do |product| %>
		<%= link_to(image_tag(product.photos.first.url, class: "featuredProductImage"), product) %>
		<%= product.photos.first.description %>
	<% end %>	
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
<div class="clear">

</div>