<div class="product">
  	<div class="productImage"><%= link_to(image_tag(product.photos.first.url), product) %></div>
  	<div class="productInfo">
    	<h3><%= link_to product.name, product %></h3>
    	<b><%= number_to_currency(product.price, :unit => "€") %></b></br>
    	<%= truncate(product.description, :length => 256, :separator => ' ') %></br>
    	<i>Manufactured by: <%= product.manufacturer.name %></i></br>
    	<i>Category: <%= product.category.name %></i></br>
    	<p class="addToCart">
	        <%= button_to "Add to cart", cart_items_path(:product_id => product) %>
	    </p>

    </div>
    <div class="clear">

</div>